<div class="user-profile__container mr-3">
  <div class="btn-group" ngbDropdown role="group" placement="bottom-right">
    <button class="btn btn-secondary user-profile__dd" ngbDropdownToggle>
      <i class="fas fa-user-circle user-icon mr-1"></i>
      <!-- <i class="fas fa-caret-down"></i> -->
    </button>
    <div
        class="dropdown-menu"
        ngbDropdownMenu>
      <button 
          class="dropdown-item"
          (click)="openProfileSeeting()"
          routerLink="profile-settings">
        <i class="fas fa-cog"></i> Profile
      </button>
      <button
          class="dropdown-item"
          (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
  </div>
</div>