<!-- navbar -->
<bill-navbar></bill-navbar>

<div class="d-flex col p-0 align-items-stretch">
  <!-- sidebar -->
  <!-- <div class="d-flex flex-column col-2 p-0 border-top">
    
  </div> -->

  <div class="col p-0 d-flex flex-column align-items-stretch y-auto">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="navbar navbar-expand-lg navbar-dark bg-color z-3 d-flex">

</div>