.bg-color{
    background-color:purple;
    // background-image: linear-gradient( to bottom, blue , rgb(202, 55, 202));
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 50px;

    }