<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
          <img src="assets/images/login-logo.jpg" alt="IMG">
      </div>

      <form class="login100-form validate-form">
        <span class="login100-form-title font-weight-bold">
            Member Login 
        </span> 
        <div class="wrap-input100 validate-input">
            <input class="input100" type="text" name="username" id="username" [(ngModel)]="username" placeholder="Email">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
            <input class="input100" [type]="showPassword ? 'text' : 'password'" name="password" id="password" [(ngModel)]="password" placeholder="Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fas fa-key" aria-hidden="true"></i>
            </span>
          
        </div>


        <div class="ml-5 custom-control custom-checkbox mt-2">
          <input 
              class="custom-control-input"
              type="checkbox"
              (change)="showPassword = !showPassword"
              id="showPassword">
            <label 
                class="custom-control-label text-muted"
                for="showPassword">
              Show Password
            </label>
        </div>
      
          
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" (click)="login()">
                <login-spinner *ngIf="signingIn" class="mr-2"></login-spinner>
                {{loginLabel}}
            </button>
        </div>

          
      </form>
    </div>
  </div>
</div>
