<header class="modal-header bg-gray">
    <h6 class="modal-title text-capitalize">{{title}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
</header>

<form class="ml-2 mr-2 mt-1 table-form-font">
  <div class="col-12">
      <label for="name"> Name</label>
      <input type="text" name="name" class="form-control" id="name" [(ngModel)]="user.firstName" placeholder="Name">
  </div>
  <div class="col-12 mt-2">  
      <label for="price">Price</label>
      <input type="text"  name="price" class="form-control" id="price" [(ngModel)]="user.middleName" placeholder="Price">
  </div>
  
  <div class="col-12 mt-2">
    <label for="image">Upload Image</label>
    <label>
      <input type="file" accept="image/*" (change)="selectFile($event)">
    </label>
  </div>  
  <div class="col-12 mb-3">
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>


</form>  
<save-cancel-buttons
    (save)="onSave()"
    (cancel)="onCancel()">

</save-cancel-buttons>


