<header class="modal-header bg-gray">
    <h4 class="modal-title text-capitalize">{{title}}</h4>
  
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  
  <section class="modal-body">
    <p>{{message}}</p>
  </section>
  
  
  <footer class="modal-footer">
    <button type="button"
            class="btn btn-success"
            (click)="close()">
      <i class="fas fa-check mr-1"></i> Yes
    </button>
  
    <button type="button"
            class="btn btn-danger"
            (click)="dismiss()">
      <i class="fas fa-ban mr-1"></i> No
    </button>
  </footer>