<bill-breadcrumb></bill-breadcrumb>

<div class="col-12 text-right mt-2">
    <button class="btn btn-sm btn-success"(click)="showItemsPopupForm('add')" ngbTooltip="Create">Create</button>
</div>

<div class="col-12 table-responsive bg-white ml-1 mr-1 mt-1 table-form-font">
    <table class="table table-bordered table-sm m-0 table-hover table-striped">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Username</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

          <tr *ngFor="let item of itemList;index as i">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>
                  <button class="btn btn-sm btn-transparent mr-1" ngbTooltip="Edit"><i class="fas fa-edit primary"></i></button>
                  <button class="btn btn-sm btn-transparent" ngbTooltip="Delete"><i class="fas fa-trash danger"></i></button>
              </td> 
          </tr>
        </tbody>
    </table>
    
</div>

