@import 'src/app/shared/styles/variables';

@mixin card-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 5%);
    i {
      transform: scale(1.3);
      opacity: .8;
    }
  }
}

.home-cards {
  &__item {
    i {
      font-size: 2em;
      transition: transform .2s ease-out;
    }
    font-size: 1.4em;
    cursor: pointer;
    text-transform: uppercase;
    &--tlo {
      @include card-color($pink);
    }
    // &--roadSubBranch {
    //   @include card-color($gray-600);
    // }

    //updated
    &--addItems {
      // @include card-color($gray-600);
      @include card-color($green);
    }

    // &--house {
    //   @include card-color(#4997d0);
    // }

    &--selectItems {
      @include card-color(purple);
    }

    // &--land {
    //   @include card-color(purple);
    // }

    // &--fee-charge {
    //   @include card-color($pink);
    // }

    // &--tax-rate {
    //   @include card-color($teal);
    // }

    //updated
    &--reports {
      @include card-color(#4997d0);
    }

    // &--property {
    //   @include card-color($crimson);
    // }

    // &--tax-calculation {
    //   @include card-color($indigo);
    // }

    // &--userdddd {
    //   @include card-color(black);
    // }

    &--user{
      // @include card-color($black)
      @include card-color(black);
    }
    // &--facilities{
    //   @include card-color(#00a0b0);
    // }
    // &--fee-charge-calculation{
    //   @include card-color(#DAA520);
    // }
    // &--reports{
    //   @include card-color(gray);
    // }
  }
  
}

