<div class="p-3">
  <div class="d-flex flex-wrap align-items-stretch text-white home-cards__container justify-content-center">

    <!-- home icons-->
    <ng-container>
      <div
          class="col-3 home-cards__item my-3"
          *ngFor="let item of (sidebarItems | sidebarFilter: user?.role )"
          [hidden]="item.hideTile">
        <div
            class="d-flex flex-column text-center py-3"
            [ngClass]="'home-cards__item--' + item.link"
            [routerLink]="'../' + item.link">
          <div>
            <i
                class="fas my-3"
                [ngClass]="item.icon"></i>
          </div>
          <span class="mb-3 ">
            {{item.label}}
          </span>
        </div>
      </div>
    </ng-container>
    <!--/ home icons-->
    
  </div>
</div>