
.width{
    // width: 1100px;
    margin-left:75px;
    margin-right:75px;
    
}

@media print
{  .no-print
    {
     display: none !important;
    }
     
    html, body {
        height:100%; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
        position: absolute;
       }
}



