<bill-breadcrumb></bill-breadcrumb>

<!-- report duration for accountant user -->
<div *ngIf="user.role=='ROLE_ACCOUNTANT'" class="row table-form-font ml-1">
  <div class="col-3">
    Select Duration:
    <select 
        class="p-0 form-control"
        name="duration"
        [(ngModel)]="duration">
      <option value="daily">Daily</option>  
      <option value="weekly">Weekly</option>  
      <option value="monthly">Monthly</option>  
      <option value="custom">Custom</option>  

    </select>
  </div>

<!-- from and to date for custom date  -->
  <div *ngIf="duration=='custom'" class="col-3">
    From:
    <input type="date"
           class="form-control"
           name="fromDate"
           id="fromDate"
           [(ngModel)]="fromDate">
  </div>

  <div *ngIf="duration=='custom'" class="col-3">
    To:
    <input type="date"
           class="form-control"
           name="toDate"
           id="toDate"
           [(ngModel)]="toDate">
  </div>

  <!--/from and to date for custom date  -->

  <!-- generate report for accountant user -->
  <div *ngIf="duration" class="col-3 mt-4">
    <button (click)="fetchReportDetail()" class="btn btn-primary btn-sm">Generate</button>
  </div>
  <!-- generate report for accountant user -->

</div>
<!-- / report duration for accountant user -->


<div *ngIf="user.role=='ROLE_ADMIN'||generateReport" class="card mt-3 width table-report-font">
  <div class="card-body ">

    <div class="row">
      <div class="col-3">
        <h6 class="font-weight-bold">Daily Invoice Report</h6>
      </div>
      <div class="col-9 text-right mt-2 mb-2">
        <button (click)="generatePdf()" [ngbTooltip]="'Export as Pdf'"> <i class="far fa-file-pdf fa-lg"></i> </button>
      </div>

    
     
    </div> 


    <div class="text-center" *ngIf="!isdataFetched">
        <!-- <p2s-spinner color="blue" size="lg"></p2s-spinner> -->
    </div>

    <div>

      <div style=" overflow: auto;">

        <table class=" mt-1 table" border="1" width="100%" >
          <tr>
            <th>S.No</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Total Price</th>
          </tr>
  
          <tr>
            <td>1</td>
            <td>Beer</td>
            <td>3</td>
            <td>750</td>
          </tr>
          <tr>
            <td>2</td>
            <td>tequilla</td>
            <td>3</td>
            <td>2500</td>
          </tr>

          <tr>
            <td>3</td>
            <td>mojito</td>
            <td>1</td>
            <td>750</td>
          </tr>
        </table>
      </div>
    </div>  

  </div>
</div>  
  