<!-- <billing-spinner></billing-spinner> -->
<header class="modal-header bg-gray">
    <h6 class="modal-title text-capitalize">{{title}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
</header>


<form class="ml-2 mr-2 mt-1 table-form-font">
    <div class="row">
      <div class="form-group col-4">
        <label for="firstName">First Name</label> <required-class></required-class>
      
        <input type="text" name="firstName" class="form-control" id="firstName" [(ngModel)]="user.firstName" placeholder="First">
      </div>
      <div class="form-group col-4">
        <label for="middleName">Middle Name</label>
        <input type="text"  name="middleName" class="form-control" id="middleName" [(ngModel)]="user.middleName" placeholder="Middle">
      </div>
      <div class="form-group col-4">
        <label for="lastName">last Name</label> <required-class></required-class>
        <input type="text" name="lastName" class="form-control" id="lastName" [(ngModel)]="user.lastName" placeholder="Last">
      </div>
    
    </div>

    <div class="row">
        <div class="form-group col-4">
          <label for="gender">Gender</label> <required-class></required-class>
          <!-- <input type="text" class="form-control" name="gender" id="gender" [(ngModel)]="user.gender"  placeholder="First Name"> -->
          <div class="d-flex">
            <div class="custom-control custom-radio mr-3">
              <input type="radio"
                      class="custom-control-input"
                      id="male"
                      value="MALE"
                      name="male"
                      [(ngModel)]="user.gender">
              <label class="custom-control-label"
                    for="male">Male</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio"
                    class="custom-control-input"
                    id="female"
                    value="FEMALE"
                    name="female"
                    [(ngModel)]="user.gender">
              <label class="custom-control-label"
                    for="female">Female</label>
            </div>
          </div>
        </div>
        <div class="form-group col-4">
          <label for="address">Address</label> <required-class></required-class>
          <input type="text" class="form-control" name="address" id="address" [(ngModel)]="user.address"  placeholder="Address">
        </div>
        <div class="form-group col-4">
          <label for="contact">phone No</label> <required-class></required-class>
          <input type="text" class="form-control" name="contact" id="contact" [(ngModel)]="user.contactNumber"  placeholder="Phone No">
        </div>
      
    </div>

    <div class="row">
      <div class="form-group col-4">
        <label for="email">Email</label> <required-class></required-class>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="user.userEmail"  placeholder="Email" required>
      </div>
      <div class="form-group col-4">
        <label for="password">User Type</label> <required-class></required-class>
        <select 
            name="userType"
            class="form-control p-0" 
            name="userType" 
            id="userType"
            [(ngModel)]="user.role">
          <option value="ROLE_ACCOUNTANT">Accountant</option>  
          <option value="ROLE_ADMIN">Admin</option> 
        </select>    
      </div>
      <div class="form-group col-4">
        <label for="username">Username</label> <required-class></required-class>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username"  placeholder="username">
      </div>
     
    </div>


    <div *ngIf="mode=='add'" class="row">
      <div class="form-group col-4">
        <label for="password">Password</label> <required-class></required-class>
        <div class="form-group">
          <input [type]="showPassword ? 'text' : 'password'"
                 class="form-control"
                 name="password"
                 id="password"
                 placeholder="Password"
                 [(ngModel)]="user.password">

              <div class="custom-control custom-checkbox mt-2">
                <input 
                    class="custom-control-input"
                    type="checkbox"
                    (change)="showPassword = !showPassword"
                    id="showPassword">
                  <label 
                      class="custom-control-label text-muted"
                      for="showPassword">
                    Show Password
                  </label>
              </div>
        </div>
      </div>
    </div>  

</form> 

<save-cancel-buttons
    (save)="onSave()"
    (cancel)="onCancel()">
</save-cancel-buttons>
