<bill-breadcrumb></bill-breadcrumb>

<div class="col-12 text-right mt-2">
    <button class="btn btn-sm btn-success"(click)="showUserPopupForm('add','')" ngbTooltip="Create">Create</button>
</div>

<div class="col-12 table-responsive bg-white ml-1 mr-1 mt-1 table-form-font">
  <table class="table table-bordered table-sm m-0 table-hover table-striped">
      <thead>
          <tr>
              <th>S.N</th>
              <th>Full Name</th>
              <th>Username</th>
              <th>Address</th>
              <th>User Status</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          

        <tr *ngFor="let user of userList;index as i">
            <td>{{i+1}}</td>
            <td>{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.address}}</td>
            <td>
                 <span *ngIf="user.enabled">Active</span>
                 <span *ngIf="!user.enabled">Deleted</span>
            </td>
            <td>
                <button [disabled]="!user.enabled" class="btn btn-sm btn-transparent mr-1" ngbTooltip="Edit" (click)="showUserPopupForm('edit',user.userId)"><i class="fas fa-edit primary"></i></button>
                <button [disabled]="!user.enabled" class="btn btn-sm btn-transparent" ngbTooltip="Delete" (click)="delete(user.userId)" ><i class="fas fa-trash danger"></i></button>
            </td> 
        </tr>
      </tbody>
  </table>
    
</div>
