
<div class="col-12 text-right mr-2 mb-2">
  <button (click)="onSave()" class="btn btn-success btn-sm mr-2">Save</button>
  <button (click)="onCancel()" class="btn btn-danger btn-sm">Cancel</button>

</div>


