@import 'src/app/shared/styles/variables';

@mixin card-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 5%);
    img {
      transform: scale(1.3);
      opacity: .8;
    }
  }
}

.home-cards {
  &__image {
    i {
      font-size: 2em;
      transition: transform .2s ease-out;
    }
    font-size: 1.4em;
    cursor: pointer;
    text-transform: uppercase;
  }
  
}



.scroll{
    // overflow: scroll;
    // position: fixed;
//    top: 80px; /* same height as navbar */
//    left: 0;
//    right: 0;
//    bottom: 0;
//    overflow-y: scroll;
// //    background: green;
//    color: #fff;
}
.non-scroll{
    overflow: hidden;
}

#list{
    float: left;
    // border: 1px solid black;
    // height: 650px;
    // height: 100%;
    max-height: 650px;
    overflow-y: scroll;
}

#bill{
    float: left;
    // margin-left: 10px;
    // border: 1px solid red;
    max-height: 650px;
    // height: 100%;
    overflow-y: scroll;
}

.container {
    position: relative;
    // max-width: 100px; /* Maximum width */
    // margin: 0 auto; /* Center it */
  }
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    // width: 100%; /* Full width */
    // padding: 20px; /* Some padding */
  }

img{
    &:hover{
    transform: scale(1.2);
    opacity: .8;
    transition: transform .3s ease-out;
    }

}

.image{
// border: none;
// background-color: transparent;
outline: none !important;
}

::-webkit-scrollbar {
  display: none;
}
