<bill-breadcrumb> </bill-breadcrumb>
<!-- <div class="row scroll" style="height: 600px;overflow: scroll;">
    <div class="col-8">
        <div class="gallery">
            <table class="table table-borderless table-responsive">
                <tr>
                    <td  *ngFor="let image of base64images">
                        <button class="btn btn-transparent" (click)="generateBill()">

                            <img [src]=image.name  width="150" height="150">
                        </button>
                        <div class="desc">{{image.item}} <span class="text-right ml-3"> {{image.price}}  </span></div>
                    </td>
        
                </tr>
                <tr>
                    <td  *ngFor="let image of base64images">
                        <button class="btn btn-transparent" (click)="generateBill()">

                            <img [src]=image.name  width="150" height="150">
                        </button>
                        <div class="desc">{{image.item}} <span class="text-right ml-3"> {{image.price}}  </span></div>
                    </td>
        
                </tr>
                <tr>
                    <td  *ngFor="let image of base64images">
                        <button class="btn btn-transparent" (click)="generateBill()">

                            <img [src]=image.name  width="150" height="150">
                        </button>
                        <div class="desc">{{image.item}} <span class="text-right ml-3"> {{image.price}}  </span></div>
                    </td>
        
                </tr>
                <tr>
                    <td  *ngFor="let image of base64images">
                        <button class="btn btn-transparent" (click)="generateBill()">

                            <img [src]=image.name  width="150" height="150">
                        </button>
                        <div class="desc">{{image.item}} <span class="text-right ml-3"> {{image.price}}  </span></div>
                    </td>
        
                </tr>
        
            </table>
        </div>   

    </div>

    <div class="col-4" *ngIf="showBill non-scroll" style="border: 1px solid black;height: 600px;"> 
        this is bill
    </div>

</div> -->
<div id="list" class="col-8 mt-4">
  <!-- <table class="table">
      <thead>
          <tr>
              <th>s.no</th>
              <th>name</th>
              <th>address</th>
          </tr>
      </thead>
      

      <tbody>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
          <tr>
              <td>1</td>
              <td>nona</td>
              <td>narayanthan</td>
          </tr>
      </tbody>
  </table> -->
  <!-- <div class="p-3">
    <div class="d-flex flex-wrap align-items-stretch text-white home-cards__container justify-content-center">
      <ng-container>
        <div
            class="col-2 home-cards__x my-3"
            *ngFor="let x of base64images">
          <div
              class="d-flex flex-column text-center py-3">
            <div>
              <img [src]="x.name" 
                    alt="not found" 
                    width="100" 
                    height="100">
            </div>
            <span class="mb-3 ">
              {{x.item}}
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div> -->

  <!-- <div class="container col-2">
    <img id="a" src="assets/images/login-logo.jpg" alt="Notebook">
    <div class="content">
      <h1>Heading</h1>
      <p>Lorem ipsum..</p>
    </div>
  </div> -->

  <!-- <div class="container col-2">
    <img src="assets/images/login-logo.jpg" alt="Notebook">
    <div class="content">
      <h1>Heading</h1>
      <p>Lorem ipsum..</p>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-2 mr-4" *ngFor="let item of base64images" >
        <button class="btn btn-transparent" (click)="addItem(item)">
          <img [src]="item.imageUrl" alt="No Image" style="height:125px;width:150px" class="mb-2">
        </button>
        <br>
        <span class="ml-3">{{item.name}}</span><br>
        <span class="ml-3">Rs-{{item.price}}</span>
      </div>
    </div>
  </div>
</div>



<div id="bill" class="col-4 mt-4">
    <table class="table table-sm">
        <thead>
            <tr>
              <td colspan="4">
                <input type="text" name="customerName" placeholder="Customer Name.." autofocus>
              </td>
              <td colspan="2">Date : {{todayDate | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <th>S.No</th>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of billItemList; index as i">
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>
                  <input 
                      type="number" 
                      [(ngModel)]="item.quantity" 
                      (keyup)="quantityChange(item.name,item.quantity)"
                      size="5">
                </td>
                <td>{{item.price}}</td>
                <td>
                  <input 
                      type="number" 
                      [(ngModel)]="item.totalPrice"
                      (keyup)="totalPriceChange()" 
                      size="5">
                </td>
                <td>
                  <button 
                      class="btn btn-sm btn-transparent" 
                      (click)="removeFoodItem(item)"
                      ngbTooltip="Remove">
                    <span class="text-danger">
                      <i class="fas fa-minus-circle"></i>
                    </span>
                  </button>
                </td>
            </tr>

            <tr *ngIf="!billItemList.length">
              <td colspan="5" class="text-center">
                No Items Added!!!
              </td>
            </tr>

            <tr *ngIf="billItemList.length > 0">
              <td colspan="4">Total Amount</td>
              <td colspan="2">{{billPrice}}</td>
            </tr>

            <tr *ngIf="billItemList.length > 0" class="text-right">
              <td colspan="6">
                <button 
                    class="btn btn-success btn-sm mt-3"
                    (click)="generateBill()">
                  Generate Bill
                </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="clear: both;"></div>
