.ngx-datatable.bootstrap {
  @extend .table;
  .datatable-header {
      @extend thead;
      .datatable-header-inner {
          @extend tr;
          .datatable-header-cell {
            border-bottom: none;
            @extend th;
            font-weight: 700;
            text-transform: capitalize;
          }
      }
  }
  .datatable-body {
      @extend tbody;
      .datatable-body-row {
          @extend tr;
          .datatable-body-cell {
              @extend td;
          }
      }
  }
  .datatable-footer {
      border-top: 1px solid $gray-300;
      padding-top: 1em;
      .datatable-footer-inner {
          .page-count {
              @extend .col;
          }
          .datatable-pager {
              @extend .col;
              ul {
                  @extend .pagination;
                  float: right;
                  li {
                      a {
                          @extend .page-link;
                          padding: 0.5rem 1rem;
                          border-radius: 0;
                      }
                      &.active {
                          a {
                              z-index: 2;
                              color: $pagination-active-color;
                              background-color: $pagination-active-bg;
                              border-color: $pagination-active-border-color;
                          }
                      }
                      &.disabled {
                          a {
                              color: $pagination-disabled-color;
                              pointer-events: none;
                              background-color: $pagination-disabled-bg;
                              border-color: $pagination-disabled-border-color;
                          }
                      }
                      &:first-child {
                          a {
                              margin-left: 0;
                              @include border-left-radius($border-radius);
                          }
                      }
                      &:last-child {
                          a {
                              @include border-right-radius($border-radius);
                          }
                      }
                  }
              }
          }
      }
  }
  &.table-striped {
      @extend .table-striped;
      .datatable-body {
          .datatable-body-row::nth-of-type(odd) {
              background-color: $table-accent-bg;
          }
      }
  }
  &.table-hover {
      @extend .table-hover;
      .datatable-body {
          .datatable-body-row {
              @include hover {
                  background-color: $table-hover-bg;
              }
          }
      }
  }
  &.table-bordered {
      @extend .table-bordered;
  }
}