<nav class="navbar navbar-expand-lg navbar-dark bg-color z-3 d-flex">
  <a class="navbar-brand" routerLink="dashboard"> 
    <!-- logo -->
    <!-- <img src="assets/images/home-logo.jpg" height="90" width="155"> -->
    <!-- /logo -->
  </a> 
   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <bill-user-profile-dropdown></bill-user-profile-dropdown>
    </form>
  </div>
</nav>