.navStyle{
   
    font-size: 1.2em;
    margin: .5em 0;
    color: white;
    text-decoration: none;
}

.bg-color{
    background-color:purple;
    // background-image: linear-gradient( to bottom, blue , rgb(202, 55, 202));
    background: linear-gradient(-135deg, #c850c0, #4158d0);

}