/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';


.table-form-font{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.table-report-font{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

input,select{
    width :100%;
    height:30px;
}
