<breadcrumb #parent>
    <nav class="breadcrumb box-shadow--bottom round--0">
     <a routerLink="/dashboard" routerLinkActive="active-link"> <i class="fa fa-home mr-5 mb-0"></i> </a>
      <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
        <a *ngIf="!route.terminal" class="breadcrumb-item font-large" [routerLink]="[route.url]">{{ route.displayName }}</a>
        <span *ngIf="route.terminal"  class="breadcrumb-item active font-large">{{ route.displayName }}</span>
      </ng-template>
    </nav>
</breadcrumb>


