<div class="col bg-primary sidebar__container d-flex flex-column py-3">
  <div class="sidebar__list d-flex flex-column y-auto">

    

    

    <!--sidebar link for admin  -->
    <ng-container>
    <a
        class="sidebar__list-item"
        *ngFor="let item of (sidebarItems | sidebarFilter: user?.userRole.userRoleName)"
        [routerLink]="item.link"
        routerLinkActive="sidebar__list-item--active">
      <i 
          class="fas mr-2"
          [ngClass]="item.icon">
      </i>
      {{item.label}}
    </a>
    </ng-container >
    <!--/sidebar link for admin  -->

    <!--sidebar link for section-user  -->
    <ng-container *ngIf="userRoleName==='ROLE_USER'">
        <a
            class="sidebar__list-item"
            
            *ngFor="let item of (sidebarItemsSectionUser )"
            [routerLink]="item.link"
            routerLinkActive="sidebar__list-item--active">
          <i
              class="fas mr-2"
              [ngClass]="item.icon">
          </i>
          {{item.label}}
        </a>
  
    </ng-container >
    <!--/sidebar link for section-user  -->


    <!--sidebar link for collection-user  -->
    <ng-container *ngIf="userRoleName==='ROLE_USER'">
      <a
          class="sidebar__list-item"
          
          *ngFor="let item of (sidebarItemsCollectionUser )"
          [routerLink]="item.link"
          routerLinkActive="sidebar__list-item--active">
        <i
            class="fas mr-2"
            [ngClass]="item.icon">
        </i>
        {{item.label}}
      </a>

    </ng-container >
    <!--/sidebar link for collection-user  -->


    <!--sidebar link for data-entry-user  -->
    <ng-container *ngIf="userRoleName==='ROLE_USER'">
      <a
          class="sidebar__list-item"
          
          *ngFor="let item of (sidebarItemsDataEntryUser )"
          [routerLink]="item.link"
          routerLinkActive="sidebar__list-item--active">
        <i
            class="fas mr-2"
            [ngClass]="item.icon">
        </i>
        {{item.label}}
      </a>

    </ng-container >
    <!--/sidebar link for data-entry-user  -->

  


  </div>
  <div class="mt-auto text-white font-size-down-1 py-2">
    <span>© 2018 - LRMS, All rights reserved</span>
  </div>
</div>