@import 'src/app/shared/styles/variables';

.sidebar {
  &__list-item {
    color: $gray-300;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: .5em 0;
    i {
      width: 20px;
    }
    &--active, &:hover {
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
  }
}
